<h1>Sample App</h1>
<p>
	simple app tutorial by Michael Hartl
	 <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
