/ - provide(:title, 'Home')
.center.hero-unit
  %h1 Welcome to the Sample App

  %h2
    This is the home page for the
    #{link_to 'Ruby on Rails Tutorial', 'httpL//railstutorial.org/'}
    sample application.

  = link_to 'Sign up now!', '#', class: "btn btn-large btn-primary"

= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'

%h1 MISC STUFFS
%p Playing with escaped slash
\= @title
%p Simple app tutorial by Michael Hartl
%a{href: 'http://railstutorial.org'} Ruby on Rails Tutorial | new hash style href:
%br
%a{:href => 'http://railstutorial.org'} Ruby on Rails Tutorial | old hash style :href =>

%h1 StaticPages#home
%p Find me in app/views/static_pages/home.html.haml

%h3 HAML playground start down here

%bogus{:hash1 => "hash1", hash2: "hash2", "hash:lang" => "hash#lang"}