- provide(:title, 'All Users')
%h1= yield(:title)

/ #r will paginate
= will_paginate

/ best way
%ul.users
  = render @users

/ 1st way
/ %ul.users
/   - @users.each do |user|
/     %li
/       = gravatar_for user, size: 52
/       = link_to user.name, user

/ 2nd way
/ %ul.users
/   - @users.each do |user|
/     = render user